$mobile-width: 600px;
$tablet-width: 768px;
$desktop-width: 1024px;

$light-green : #66fcf1;

@mixin mobile {
  @media (max-width: #{$mobile-width}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

section#footer{
  background-color: black;
  color: white;
  min-height:300px;
  padding:20px;
}
#footer h1{
}
.switch {

  text-align: center;

  label{
    font-size:1em;
    color: white;
  }
  .lever{
    &:after
    {
      background-color: #26a69a !important;
    }
  }
}
.contact-div{
  text-align: center;
  input, textarea {
    padding-left: 12px;
  }
}
#heyButton {
  width: calc(100% - 3rem);
  margin-left:3rem;
  @include mobile {
    min-width:300px;
  }
}
.white-background{
  background-color: white !important;
}
