$mobile-width: 600px;
$tablet-width: 768px;
$desktop-width: 1024px;

$light-green : #66fcf1;

@mixin mobile {
  @media (max-width: #{$mobile-width}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

section#footer{
  background-color: #222;
  color: white;
  min-height:300px;
}
#footer h1{
}
.switch {

  text-align: center;

  label{
    font-size:1em;
    color: white;
  }
  .lever{
    &:after
    {
      background-color: #26a69a !important;
    }
  }
}
.contact-div{
  text-align: center;
  padding-bottom: 40px;
  
  input, textarea {
    padding-left: 12px;
    background: black;
    background-color: black;
    color: white;
  }
}
#heyButton {
  margin: 0 .75rem;
  width: calc(100% - .75rem);
  @include mobile {
    min-width:300px;
  }
}
.white-background{
  background-color: white !important;
}

.switch label{
  cursor:default;
}
.switch{
  padding: 20px;
}

hr {
  border-color: white !important;
  width:75%;
  margin:auto !important;

  @include mobile {
    width:90%;
  }
}
div.icons-footer{
  padding-top: 40px;
  height: 300px;
  text-align: center;
}

img.icon-footer{
  width: 30px;
}
ul.social-icons-list{
  display: inline;
  width: 100%;
  text-align: center;
}
li.social-icon{
  width: 150px;
  height: 150px;
  text-align: center;
  vertical-align: middle;
  border: none;
  border-radius: 3px;
  color: #c9c9c9;
  display: inline-block;
  font-size: 50px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
li.social-icon i {
  line-height: 150px;
}
li.social-icon:hover{
  background: rgba(187, 187, 187, 0.05);
  color: white;
  cursor: pointer;
}
.max-100{
  max-width: 100%;
}