section#index{
}
section#presentation{
  background-color: #12003c;
  height: 600px;
  text-align: center;
}
#logo{
  max-width:200px;
  padding-top: 100px;
  padding-bottom: 20px;
}
#tagline{
  font-family: Times, "Times New Roman", Arial;
  font-style: italic;
  color: white;
}