// Colors
$dark-blue : #12003c;
$light-blue : #66fcf1;

// Sizes
$presentation-height: 600px;
$logo-width: 200px;

@font-face {
  font-family: futura;
  src: url('../font/a_FuturaOrto-Bold_2258.ttf');
}

@font-face {
  font-family: tablet;
  src: url('../font/Tablet_Gothic_Narrow_Thin.ttf');
}

section#index{
}
section#presentation{
  background-color: $dark-blue;
  height: $presentation-height;
  text-align: center;
}
#logo{
  max-width:$logo-width;
  padding-top: 100px;
}
#tagline{
  font-family: Times, "Times New Roman", Arial;
  font-style: italic;
  color: white;
  padding: 30px;
}
#what{
  padding-top: 20px;
  padding-bottom: 20px;
}
h1{
  font-family: futura;
  font-size:3em;
  width:100%;
  text-align: center;
}
button{
  border: 2px solid $light-blue;
  letter-spacing: 3px;
  color: white;
  font-size:16px;
  padding: 16px;
  margin-top: 10px;
  font-weight:600;
  text-transform: uppercase;
  transition: all .4s;
  -webkit-transition: all .4s;
  background: transparent;
  outline:none;
  font-family: futura;
}
button:hover{
  background-color: $light-blue;
  color: black;
  cursor: pointer;
}