// Colors
$dark-blue: #122435;
$light-blue: #003669;
$light-green: #66fcf1;
$logo-color: #f45255;

$one-project-height: 400px;
$one-project-width: 600px;


$mobile-width: 600px;
$tablet-width: 768px;
$desktop-width: 1024px;

@mixin mobile {
  @media (max-width: #{$mobile-width}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}


.one-project-section{
  margin:0;
  padding:0;
  display: inline-block;
  text-align: center;
  width:auto;
  height:auto;
  font-size:0;
  padding-left:4px;
  padding-right:4px;
  max-width: 100%;

}
.one-project-div{
  width:100%;
  height:auto;
  cursor: pointer;
  overflow: hidden;

  @include mobile{
    padding-bottom:60px;
  }
}
.one-project-div:hover .one-project-image{
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  opacity: 0.3;
  @include mobile {
   transform: none;
    opacity: 1;
  }
}
.one-project-div:hover .project-title h1{
  font-size:35px;
  @include mobile {
    font-size: inherit;
  }
}
.one-project-div:hover .project-title-container{
  display: table;
}

.one-project-image-div{
  width:$one-project-width;
  max-height:$one-project-height;
  height:auto;
  max-width: 100%;
  background-color: black;
  font-size:0;
}
img.one-project-image{
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  width:100%;
  max-width: 100%;
  height:auto;
}
.project-title-container{
  z-index: 10;
  position: absolute;
  display: none;
  height:$one-project-height;
  width:$one-project-width;
  max-width: 100%;
  @include mobile {
    position: relative;
    display: grid;
    padding-bottom: 12px;
    padding-top: 24px;
    width: 100%;
    height:auto;
  }

}
.project-title{
  vertical-align: middle;
  display: table-cell;
}
.project-title h1{
  color: white;
  font-size:30px;
}
.project-description-text{
  text-align: justify;
}
.project-content-text {
  border:3px solid #2bbbad;
  padding: 40px;
  text-align: justify;
}
.max100{
  max-width: 100%;
}
.margin-top {
  margin-top:40px;
}
.div100{
  width:100%;
}
ul.techno-list{
  padding-top:20px;
  padding-left: 20px;
  display: inline-block;
}
li.technology-item{
  background: $dark-blue;
  color: white;
  width: fit-content;
  padding: 5px;
  display: inline;
  margin-left: 10px;
  line-height:45px;
  padding-left:10px;
  padding-right:10px;
}
.show-mobile{
  display: none;
  @include mobile{
    display: block;
  }
}
.hide-mobile{
  display: inherit;
  @include mobile{
    display: none;
  }
}