$one-project-height: 400px;
$one-project-width: 600px;


.one-project-section{
  margin:0;
  padding:0;
  display: inline-block;
  text-align: center;
  width:auto;
  height:auto;
  font-size:0;
  padding-left:4px;
  padding-right:4px;

}
.one-project-div{
  width:100%;
  height:auto;
  cursor: pointer;
  overflow: hidden;
}
.one-project-div:hover .one-project-image{
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  opacity: 0.5;
}
.one-project-div:hover .project-title{
  font-size:40px;
}

.one-project-image-div{
  width:auto;
  height:auto;
  max-width: 100%;
  background-color: black;
  font-size:0;
}
img.one-project-image{
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  width:100%;
  max-width: 100%;
  height:auto;
}
.project-title-container{
  position: absolute;
  display: table;
  height:$one-project-height;
  width:$one-project-width;
  max-width: 100%;
}
.project-title{
  color: white;
  font-size:30px;
  vertical-align: middle;
  display: table-cell;
}
