// Colors
$dark-blue : #122435;
$light-blue : #003669;
$light-green : #66fcf1;
$logo-color : #f45255;

.projects-section{

}
.black-background{
  background-color: black;
  margin-left:-40px !important;
}
.paddings-top-bottom{
  padding:0 !important;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}
.double-div-right{
  border: 5px solid $logo-color;
  display: table;
}

.double-div-right .quote{
  color: $logo-color;
  border:none;
  vertical-align: middle;
  display: table-cell;
  margin:auto;
  font-size: 0.8em;
}