// Colors
$dark-blue : #122435;
$light-blue : #003669;
$light-green : #66fcf1;
$logo-color : #f45255;

$mobile-width: 600px;
$tablet-width: 768px;
$desktop-width: 1024px;

@mixin mobile {
  @media (max-width: #{$mobile-width}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

.projects-section{

}
.black-background{
  background-color: black;
}
.paddings-top-bottom{
  padding:0 !important;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}
.double-div-right{
  border: 5px solid $logo-color;
  display: table;
}

.double-div-right .quote{
  color: $logo-color;
  border:none;
  vertical-align: middle;
  display: table-cell;
  margin:auto;
  font-size: 0.8em;
}