.projects-section{

}
.black-background{
  background-color: black;
  margin-left:-60px !important;
}
.paddings-top-bottom{
  padding:0 !important;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}