.skills{

}

.skills-set{
  padding-top:60px;
  color: #dfdfdf;
  h3{
    padding-bottom:16px;
  }
}

.skill-list{
  font-size: 0.8em;
  color: #d7d7d7;
}

.width100{
  max-width:100%;
}
a:hover{
  color:#039be5
}
a{
  color: white;
  text-decoration: underline;
}